a:hover {
    color: white;
    text-decoration: none;
}

.mdl-data-table__cell--non-numeric.mdl-data-table__cell--non-numeric {
    text-align: center;
}

table.dataTable>thead>tr>th:not(.sorting_disabled),
table.dataTable>thead>tr>td:not(.sorting_disabled) {
    padding-right: 15px;
}
